@font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/GillSans.woff2') format('woff2')
  }
  
  @font-face {
    font-family: 'Gill Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('fonts/GillSans-Light.woff2') format('woff2')
  }
  
  @font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/CormorantGaramond-Regular.woff2') format('woff2')
  }
  
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/DancingScript-Regular.woff2') format('woff2')
  }
  